# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\35920\OneDrive - bupt.edu.cn\Programming\JetBrain\PyCharm\数据库课设-数据可视化\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
